<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="result.css" rel="stylesheet" type="text/css" />
  </head>
<body>
<header>
  <div class ="banner">
  <div class= "logo"></div>
  </div>
  <section>
    <ul>
         <li class="listSize">Question:
            <span class="">0</span>/10</li>
          <li class="listSize">Score:
            <span class="score">0</span>
          </li>
        </ul>
  </section>
  <div id="container">
    <div class="image image-1"></div>
  </div>
  <div id="container-2">
  <div class="text-box">
  </div>
      <button type="button" class="startButton button">Next!</button>
    <script src="script.js"></script>
 </body>
</html>

